{
  "rules": {
    "semi": 0,
    "semi-spacing": 0,
    "quotes": 0,
    "strict": 0,
    "new-cap": 0,
    "curly": 0,
    "no-console": 1,
    "no-underscore-dangle": 0,
    "yoda": 0,
    "no-new": 0,
    "no-debugger": 1,
    "no-multi-spaces": 0
  },
  "globals":{
    "jQuery": true,
    "debugger": true,
    "$": true,
    "Backbone": true,
    "window": true,
    "console": true,
    "_": true,
    "Cookie": true,
    "document": true,
    "UAParser": true,
    "Browser": true,
    "ppl": true,
    "tvplayer": true,
    "require": true,
    "Ladda": true,
    "Buffer": true,
    "_taboola": true,
    "_eStat": true,
    "JSON": true,
    "_gaq": true,
    "swfobject": true,
    "paymill": true,
    "moment": true,
    "FB": true,
    "ptv": true,
    "module": true,
    "Modernizr": true,
    "tracking": true,
    "BrandDetection": true,
    "notifierMessage": true,
    "channelId": true,
    "noreferrerUrl": true,
    "process": true,
    "livetweet": true
  }
}
