{% extends "layouts/mobile.twig" %}

{% block content %}
<div class="pmd-StaticPage">
  <div class="pmd-StaticPage-wrapper">
    {% include "controllers/pages/_mentions-legales.twig" %}
  </div>
</div>
{% endblock %}
