<div id="tvplayer">
  <div id="big-text">
    {% trans %}
    <p><strong>Pick a</strong></p><p><strong>TV channel</strong></p><p><strong>in the mosaic</strong></p><p><strong>on the right ...</strong></p>
    {% endtrans %}
  </div>
</div>
