{% extends "layouts/full.twig" %}

{% block content %}
  <div id="content">
    <div class="container">
      <div class="row">

        <nav class="span3 sep">
          <p class="grey-box margin">
            <a href="/television/mosaique/" class="{% if type == 'direct' %}clear-grey{% endif %}" title="Votre bouquet">
              <strong>Votre bouquet</strong>
            </a>
          </p>
          <p class="grey-box xmargin">
            <a href="/television/mosaique/categories/" class="{% if type == 'categories' %}clear-grey{% endif %}" title="Par catégorie">
              <strong>Par catégorie</strong>
            </a>
          </p>
          <p class="grey-box margin">
            <a href="/television/mosaique/themes/" class="{% if type == 'themes' %}clear-grey{% endif %}" title="Par thème">
              <strong>Par thème</strong>
            </a>
          </p>
          <p class="grey-box xmargin">
            <a href="/television/mosaique/replay-tv/" class="{% if type == 'replay-tv' %}clear-grey{% endif %}" title="Avec replay tv">
              <strong>Avec replay tv</strong>
            </a>
          </p>
        </nav>

        <div class="span13">

          <div class="page-title">
            {% if type == 'direct' %}
              <p class="right grey-box">Bouquet : <strong>{{ client_country }}</strong></p>
            {% else %}
              <p class="right clear-grey">Toutes les chaines</p>
            {% endif %}

            {% if type == 'direct' %}
              <h1>Votre bouquet de chaînes</h1>
              <p class="sub-title">Liste des chaînes disponibles en direct dans votre bouquet</p>
            {% elseif type == 'categories' %}
              <h1>Liste des chaînes tv par catégorie</h1>
              <p class="sub-title">Toutes les chaînes tv classées par catégorie (hors bouquet, ou non)</p>
            {% elseif type == 'themes' %}
              <h1>Liste des chaînes tv par thème</h1>
              <p class="sub-title">Toutes les chaînes tv classées par thème (hors bouquet, ou non)</p>
            {% elseif type == 'replay-tv' %}
              <h1>Liste des chaînes tv en replay</h1>
              <p class="sub-title">Toutes les chaînes tv disponibles en replay télé</p>
            {% endif %}
          </div>

          {{ block_mosaic|raw }}

        </div>

      </div>
    </div>
  </div>

  <style type="text/css">
  .channel-button{
    margin:0 4px 4px;
  }
  </style>
{% endblock %}
