{% extends "controllers/faq/_header.twig" %}

{% block faq_content %}
  <h2 class="margin">4.1. Le journal régional diffusé sur France 3 n'est pas celui de ma région</h2>
  <p>La chaîne France 3 est uniquement disponible dans sa version nationale, cependant vous pouvez counsulter les programmes régionaux <a href="/replay-tv/videos/france-3/" title="Replay France 3">disponibles en Replay</a></p>
{% endblock faq_content %}
