{% extends "controllers/faq/_header.twig" %}

{% block faq_content %}
  <h2 class="margin">2.3. L'image vidéo est de basse ou mauvaise qualité</h2>

  <p>Le flux vidéo est de mauvaise qualité (pixels, artefacts, saturation des couleurs, image coupée, aliasing etc.) ?</p>

  <p>Vérifiez tout d'abord que vous n'avez pas sélectionné le flux "basse définition", en vous reportant à la section :</p>
  <p>
    <a href="/faq/saccades-video/#flux-alternatif">Flux vidéo alternatif (basse définition)</a>
  </p>

  <p>
    <strong>Sinon, la mauvaise qualité d'un flux vidéo peut avoir plusieurs causes :</strong>
  </p>

  <ul>
    <li>
      Une minorité de chaînes de télévision comme Nasa TV par exemple, ne sont pas diffusées avec notre infrastructure.<br>Nous ne garantissons donc pas le niveau de qualité vidéo de ces quelques chaînes.
    </li>
    <li>
      Nous pouvons parfois rencontrer des problèmes techniques lors de l'encodage et la diffusion des chaînes de télévision.<br>Si le problème de qualité persiste, veuillez <a href="/aide/support/"><strong>contacter le support</strong></a> ou <a href="/faq/rapport-erreur/">envoyer un rapport d'erreur</a>.
    </li>
  </ul>

  <h3>
    <strong>À propos de la qualité vidéo sur Play TV</strong>
  </h3>

  <p>Sachez que notre équipe technique améliore régulièrement la qualité d'encodage et de diffusion des chaînes de télévision sur le site. Mais nous devons tenir compte des configurations matérielles et des vitesses de connexion de tous nos utilisateurs.</p>

  <p>Enfin, il est important de rappeler que {{ request.host }} est un service gratuit pour nos internautes et que l'augmentation de la qualité vidéo entraîne (aussi) une augmentation importante de nos coûts de diffusion.</p>
{% endblock faq_content %}
