{% extends "controllers/faq/_header.twig" %}

{% block faq_content %}
  <h2 class="margin">2.4. Envoyer un rapport d'erreur</h2>

  <p>
    Lorsque vous <a href="/aide/support/"><strong>contactez le support</strong></a> parce que vous rencontrez des problèmes avec la télévision par exemple (qualité, freezes etc.), il n'est pas toujours facile pour les techniciens d'en identifier la source, car nous pouvons manquer d'informations.
  </p>
  <p>Nous avons donc ajouté une fonctionnalité qui vous permet de <strong>joindre un rapport d'erreur</strong> à vos messages au support.</p>
  <p>Ce rapport contiendra un "journal d'activité" des actions et événements (play, stop, connexion etc.) qui ont été déclenché pendant que vous regardiez (ou essayiez de regarder) une chaîne de télé.</p>

  <h3>
    <strong>Comment envoyer un rapport d'erreur ?</strong>
  </h3>

  <p>
    <strong>Cliquez avec le bouton droit de la souris</strong> sur le player vidéo puis sélectionnez "<strong>Signaler un problème de connexion</strong>".
  </p>

  <div class="image no-margin">
    <img src="{{ apps_base_url }}/images/faq/faq-report.png" alt="Envoyer un rapport">
  </div>
{% endblock faq_content %}
