{% extends "controllers/faq/_header.twig" %}

{% block faq_content %}
  <h2 class="margin">4.3. J'ai une autre question ou remarque sur un programme ou une chaîne de télévision</h2>

  <p>Les informations concernant la programmation des chaînes de télévision sont fournies par les chaînes elles mêmes.</p>
  <p>Pour toute réclamation merci de vous adresser directement au service téléspectateurs de la chaîne concernée.</p>
{% endblock faq_content %}
