{% extends "controllers/faq/_header.twig" %}

{% block faq_content %}
  <h2 class="margin">3.7. Je souhaite résilier mon abonnement</h2>

  <p>Si vous avez souscrit à un abonnement payant sur le site Play TV, vous avez la possibilité de le résilier en cliquant sur l'icone en haut à droite pour accéder à votre compte.</p>
{% endblock faq_content %}

