{% extends "controllers/faq/_header.twig" %}

{% block faq_content %}
  <h2 class="margin">3.6. Je souhaite supprimer mon compte</h2>

  <p>Pour supprimer votre compte, il vous suffit de vous rendre dans la rubrique "Mon Compte"; puis cliquez sur "Mes informations"; enfin en bas à droite cliquez sur "Supprimer mon compte".</p>
{% endblock faq_content %}
