<div class="ptv-js-AccountPopin">
  <div class="ptv-AccountPopin-branding">Mot de passe oublié</div>

  <div class="ptv-AccountPopinContent">

    <section class="ptv-js-AccountPopin-forgotPasswordSection ptv-AccountPopin-section">
      <form method="post" action="/mot-de-passe-oublie/" class="ptv-js-AccountPopin-forgotPasswordForm">
        <h3 class="ptv-AccountPopinContent-heading">Réinitialisation de votre mot de passe</h3>
        <p>Entrez votre adresse email et nous vous enverrons un mail avec toutes les informations nécessaires pour le réinitialiser. Pas d'inquiétude donc.</p>
        <p><input type="email" name="email"  placeholder="Adresse email" class="ptv-Input ptv-Input--block"></p>
        {% include "partials/popin_error.twig" %}
        <p><button type="submit" class="ptv-Button ptv-Button--block">C'est parti !</button></p>
        {% if src != 'order' %}
          <p class="pmd-Text--center"><a href="#" rel="nofollow" class="pmd-js-loginHandler">« Retour</a></p>
          <p>Si vous avez besoin d'aide, n'hésitez pas à contacter le <a href="/aide/support/">support Play TV</a>.</p>
        {% endif %}
      </form>
  </section>

  </div>
</div>
