{% extends "layouts/mobile.twig" %}

{% block content %}
<div class="pmd-FormLayout">

  <form action="/connexion/" method="post" class="pmd-js-Login-form pmd-LoginForm">
    <h3 class="pmd-FormLayout-heading">Me connecter</h3>

    <div class="pmd-InputWrapper pmd-Cf pmd-LoginFormInput">
      <input class="pmd-Input pmd-Input--block pmd-LoginForm-input" type="text" placeholder="Email ou nom d'utilisateur" name="email">
    </div>

    <div class="pmd-InputWrapper">
      <input class="pmd-Input pmd-Input--block" type="password" placeholder="Mot de passe" name="password">
    </div>

    <div class="pmd-js-Login-alert pmd-Alert pmd-Alert--hidden"></div>

    <button type="submit" class="pmd-js-Login-buttonSubmit pmd-Button pmd-Button--block pmd-Form-buttonSubmit ladda-button" data-style="zoom-out">
      <span class="ladda-label">Me connecter</span>
    </button>
  </form>

  <div class="pmd-Or"><span>OU</span></div>

  <button class="pmd-js-FacebookAction pmd-Button pmd-Button--block pmd-Button--facebook pmd-Icons-facebook pmd-Form-buttonSubmit ladda-button" data-style="zoom-out">
    <span class="ladda-label">Me connecter via Facebook</span>
  </button>

  <p class="pmd-Text--center pmd-Text--airy">Vous n'avez pas de compte ? <a href="/inscription/">Inscrivez-vous !</a></p>

  <p class="pmd-Text--center pmd-Text--airy"><a href="/mot-de-passe-oublie/">Mot de passe oublié ?</a></p>

</div>
{% endblock %}
