{% extends "layouts/full.twig" %}

{% block content %}
  <div id="content">
    <div class="container">

      <div class="user-index">

        <div class="main ptv-AccountProfile">
          <h3 class="ptv-AccountProfile-heading"><span class="ptv-AccountProfile-headingMain">Modifier mon mot de passe</span></h3>
          <div class="content ptv-AccountProfileContent">

            <form method="post" action="/reinitialisation-mot-de-passe/">
              <div class="ptv-AccountProfileLine">
                <p class="ptv-AccountProfileLine-inputField">
                  <label for="ptv-ChangePasswordForm-password" class="ptv-AccountProfileLine-label">Nouveau mot de passe :</label>
                  <input type="password" class="ptv-Input{% if errors.password is defined %} ptv-Input--error{% endif %}" name="password" placeholder="Mot de passe" autocomplete="off">
                </p>
              </div>

              <div class="ptv-AccountProfileLine">
                <p class="ptv-AccountProfileLine-inputField">
                  <label for="ptv-ChangePasswordForm-confirmPassword" class="ptv-AccountProfileLine-label">Confirmer le mot de passe :</label>
                  <input type="password" class="ptv-Input{% if errors.confirmPassword is defined %} ptv-Input--error{% endif %}" name="confirmPassword" placeholder="Mot de passe" autocomplete="off">
                </p>
              </div>

              {% if errors is defined %}
                <div class="ptv-Alert ptv-Alert--active ptv-Alert--error ptv-AccountProfileAlert">
                  {% for error in errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </div>
              {% endif %}

              {% if success is defined %}
                <div class="ptv-Alert ptv-Alert--active ptv-Alert--success ptv-AccountProfileAlert">
                  <li>{{ success }}</li>
                </div>
              {% endif %}

              <p class="ptv-AccountProfileAction pmd-Text--right">
                <button class="ptv-Button ptv-Button--large">Enregistrer le mot de passe</button>
              </p>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
<!-- /#content -->
{% endblock %}
