{% extends "layouts/mobile.twig" %}

{% block content %}
<div class="pmd-FormLayout">

  <form action="/reinitialisation-mot-de-passe/" method="post" class="pmd-js-ReinitialisePassword-form">
    <h3 class="pmd-FormLayout-heading">Modifier mon mot de passe</h3>

    <p>Pour modifier votre mot de passe, veuillez l'indiquer ci-dessous.</p>

    <div class="pmd-js-ReinitialisePassword-alert pmd-Alert pmd-Alert--hidden"></div>

    <div class="pmd-InputWrapper">
      <input class="pmd-Input pmd-Input--block" type="password" name="password" placeholder="Mot de passe" value="" autocomplete="off">
    </div>

    <div class="pmd-InputWrapper">
      <input class="pmd-Input pmd-Input--block" type="password" name="confirmPassword" placeholder="Confirmation mot de passe" value="" autocomplete="off">
    </div>

    <button class="pmd-js-ReinitialisePassword-buttonSubmit pmd-Button pmd-Button--block pmd-Form-buttonSubmit ladda-button" data-style="zoom-out">
      <span class="ladda-label">Enregistrer le mot de passe</span>
    </button>

  </form>

</div>
{% endblock %}
