<a href="#order-{{ gateway }}" data-gateway="cellpass">
  <span class="pmd-OrderPaymentTab-bullet"></span>
  <img class="pmd-OrderPaymentTab-logo" src="{{ static_base_url }}/img/operator/{{ operator }}.svg"> {{ label }}
</a>
