<a href="#order-{{ gateway }}" data-gateway="paymill">
  <span class="pmd-OrderPaymentTab-bullet"></span>
  <img class="pmd-OrderPaymentTab-logo" src="{{ apps_base_url }}/images/icons/cb.svg"> {{ label }}
</a>
