<div id="order-paypal">

  <form method="post" class="ptv-js-OrderPayment-form pmd-OrderPaymentForm--paypal" data-initialized="true">
    <input type="hidden" name="gateway" value="paypal">
    <p>Utilisez votre compte Paypal ou créez un compte pour effectuer vos achats.</p>
    <button type="submit" class="pmd-Button pmd-OrderButton--paypal ladda-button" data-style="zoom-out">
      <span class="ladda-label">Payer avec Paypal</span>
    </button>
  </form>

</div>
