<a href="#order-{{ gateway }}" data-gateway="paypal">
  <span class="pmd-OrderPaymentTab-bullet"></span>
  <img class="pmd-OrderPaymentTab-logo" src="{{ apps_base_url }}/images/paypal/PP_logo_h_100x26.png"> {{ label }}
</a>
