{% extends "layouts/full.twig" %}

{% block content %}

  {% embed "controllers/chaine-tv/skeleton.twig" with {"tab_active": "next"} %}

    {% block embed_content %}
      <h2 class="block-title">
        {% trans with {'%channel%': infos.name} %}Next programs on <strong>%channel%</strong>{% endtrans %}
      </h2>
      {{ block_broadcasts|raw }}
    {% endblock %}

  {% endembed %}$

{% endblock %}
