{% extends "layouts/mobile.twig" %}

{% block content %}
<div class="pmd-FormLayout">

  <form action="/newsletter/desabonnement/" method="post" class="pmd-js-UnsubscribeMailing-form">
    <h3 class="pmd-FormLayout-heading">Désabonnement</h3>

    <p>Si vous ne voulez plus recevoir nos emails, cliquez sur le bouton ci-dessous</p>

    <div class="pmd-js-UnsubscribeMailing-alert pmd-Alert pmd-Alert--hidden"></div>
    <input type="hidden" name="cipher" value="{{ cipher }}">
    <button type="submit" class="pmd-js-UnsubscribeMailing-buttonSubmit pmd-Button pmd-Button--block ladda-button" data-style="zoom-out">
      <span class="ladda-label">Se désabonner</span>
    </button>
  </form>

</div>
{% endblock %}
