<div class="pmd-ContainerForAdblocker">
  <div class="pmd-Adblocker">
    <p class="pmd-Adblocker-sentence">
      {% trans with { "%refreshUrl%": refresh_url, "%faqUrl%": path('faq_adblock') } %}adblocker.main_sentence{% endtrans %}
    </p>
  </div>
</div>
