{% extends "layouts/full.twig" %}

{% block content %}
{% include "partials/subnav-guide-tv.twig" with {"subnav_active": "featured"} %}

<div id="content">
  <div class="container">

    <div class="row">

      <div class="span-page">

        <div class="section-title">
          <p class="right clear-grey">Les meilleurs programmes TV à venir</p>
          <h1><a href="/programmes-tv/a-ne-pas-manquer/"><strong>À ne pas manquer</strong> »</a></h1>
        </div>

        <div class="featured-programs row fluid">
          {% include "controllers/programmes-tv/_featured.twig" with {"broadcasts": featured_broadcasts, "has_column": true} %}
        </div>

      </div>

      <div class="span-sidebar">

        <div class="margin">
          {% include "partials/ads-banner.twig" with {"unique": "af2eb201", "zone_id": 9} %}
        </div>

        <div class="block-title xmargin">
          <h2><strong>Le meilleur des programmes</strong></h2>
        </div>

        <div class="text clear-grey justify margin">
          <p>Certains <strong>films</strong>, <strong>séries</strong> ou <strong>émissions</strong> méritent encore plus le détour que d'autres. Voici notre sélection ...</p>
        </div>

        <div class="featured-programs">
          {% include "controllers/programmes-tv/_featured.twig" with {"broadcasts": super_featured_broadcasts, "has_column": false} %}
        </div>

      </div>

    </div>

  </div>
</div>
{% endblock %}
