{% spaceless %}
<footer class="pmd-Footer">
  <div class="container">

    {% if is_website_fr %}

      {% if skin != 'light' %}
      <nav id="footer-menus" class="row">

        <div class="span4">
          <p class="title">Télévision et Replay TV</p>
          <ul>
            <li><a href="/">Bienvenue sur Play TV</a></li>
            <li><a href="/television/">Regarder la télévision en direct</a></li>
            <li><a href="/television/mosaique/">Toutes les chaînes de télé</a></li>
            <li><a href="/toplive/">Top Live! Audiences en direct</a></li>
            <li><a href="/replay-tv/">Replay TV, revoir les programmes</a></li>
          </ul>
        </div>

        <div class="span4">
          <p class="title">Guide programmes TV</p>
          <ul>
            <li><a href="/programmes-tv/">Guide des programmes tv</a></li>
            <li><a href="/programmes-tv/en-direct/">Programmes télé en direct</a></li>
            <li><a href="/programmes-tv/ce-soir/">Programmes tv de la soirée</a></li>
            <li><a href="/programmes-tv/a-ne-pas-manquer/">Programmes à ne pas manquer</a></li>
            <li><a href="/recherche/">Rechercher un programme tv</a></li>
          </ul>
        </div>

        <div class="span4">
          <p class="title">Annexes de Play TV</p>
          <ul>
            <li><a href="/faq/">Questions fréquentes (FAQ)</a></li>
            <li><a href="/aide/support/">Support technique (contact)</a></li>
            <li><a href="/pages/presse/">La presse parle de Play TV</a></li>
            <li><a href="{{ hosts.blog }}/">Le blog de l'équipe (news)</a></li>
            <li><a href="/pages/a-propos/">Qui sommes-nous ?</a></li>
          </ul>
        </div>

        <div class="span4">
          <p class="title">Plus de Play TV</p>
          <ul>
            <li><a href="/pages/jobs/">Jobs (offres d'emploi)</a></li>
            <li><a href="/pages/publicite/">Publicité / Annonceurs</a></li>
            <li><a href="/pages/mentions-legales/">Mentions légales</a></li>
            <li><a href="/pages/cgu/">Conditions générales d'utilisation</a></li>
            <li><a href="/pages/cgv/">Conditions générales de vente</a></li>
            <li><a href="/pages/donnees-personnelles/">Données personnelles</a></li>
          </ul>
        </div>

      </nav>

      {% endif %}

      <p id="footer-copyright" class="span16">
        <a href="//playmedia.fr">
          <img
            id="logo-playmedia"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ apps_base_url }}/images/icons/logo-playmedia.png"
            width="151"
            height="26"
            onload="lzld(this)"
            title="Play Media"
            alt="Play Media">
        </a>
        <span>© Copyright 2008 - {{ now|date("Y") }} <a href="//playmedia.fr">Play Media SAS</a>. Tous droits réservés.</span>
      </p>

    {% else %}

      {% if skin != 'light' %}
      <div class="ptv-Footer-row">

        <script>
          function configureCookies() {
            if (window.__cmp && onSetConsent) {
              window.__cmp('setConsentUiCallback', onSetConsent);
              window.__cmp("displayConsentUi");
            }
          }
        </script>

        <div class="ptv-FooterI18n-links">
          <a href="/live-tv/">{% trans %}Live TV{% endtrans %}</a> -
          <a href="/tv-guide/">{% trans %}TV guide{% endtrans %}</a> -
          <a href="/tv-guide/now/">{% trans %}On air{% endtrans %}</a> -
          <a href="javascript:configureCookies();">{% trans %}Cookies{% endtrans %}</a> -
          <a href="/search/">{% trans %}Search{% endtrans %}</a>
        </div>

      </div>
      {% endif %}

    {% endif %}

  </div>
</footer>
{% endspaceless %}
