{% if is_website_uk %}
<div class="pmd-HeaderSide-split"></div>

<div class="pmd-HeaderCountry">
  <div class="pmd-HeaderCountry-flag">
    <span class="flag flag-gb"></span>
  </div>
  <div class="pmd-HeaderCountry-name">UK</div>
</div>
{% endif %}
