<table>
  <tr>
    <td><strong>Jusqu'à 5€</strong></td>
    <td>→</td>
    <td><strong>1 mois</strong> d'accès à Play TV Premium</td>
  </tr>
  <tr>
    <td><strong>Entre 5€ et 15€</strong></td>
    <td>→</td>
    <td><strong>6 mois</strong> d'accès à Play TV Premium (normalement 2.99€/mois)</td>
  </tr>
  <tr>
    <td><strong>Au delà de 15€</strong></td>
    <td>→</td>
    <td><strong>Play TV Premium {{ 'à vie'|upper }} !</strong></td>
  </tr>
</table>
