<form method="post" action="{{ hosts.current_full_secure }}/panier/nous-soutenir/" class="pmd-CrowdfundingForm pmd-js-CrowdfundingForm">

  <input type="range" name="amount" value="1500" min="100" max="140000000" step="100" style="display: none;">

  <div class="pmd-CrowdfundingForm-wrapper">
    <a href="#" class="pmd-Button pmd-Button--default pmd-CrowdfundingForm-decrement pmd-js-CrowdfundingForm-decrement">
      <svg role="img" class="pmd-Svg pmd-Svg--minus-circle">
        <use xlink:href="#pmd-Svg--minus-circle"></use>
      </svg>
    </a>
    <div class="pmd-CrowdfundingForm-input">
      <input type="number" min="1" step="1" class="pmd-Input pmd-Input--number pmd-js-CrowdfundingForm-input" value="15">
      <label class="pmd-Label">€</label>
    </div>
    <a href="#" class="pmd-Button pmd-Button--default pmd-CrowdfundingForm-increment pmd-js-CrowdfundingForm-increment">
      <svg role="img" class="pmd-Svg pmd-Svg--plus-circle">
        <use xlink:href="#pmd-Svg--plus-circle"></use>
      </svg>
    </a>
  </div>

  <button type="submit" class="pmd-Button pmd-Button--block pmd-Button--primary">Je soutiens Play TV</button>
</form>
