<div id="sharing" class="right">
  {% spaceless %}
  <a title="{% trans with {'%network%': 'Facebook'} %}Share on %network%{% endtrans %}" class="share-facebook" rel="nofollow"><span></span></a>
  <a title="{% trans with {'%network%': 'Twitter'} %}Share on %network%{% endtrans %}" class="share-twitter" rel="nofollow"><span></span></a>
  <a title="{% trans with {'%network%': 'Google+'} %}Share on %network%{% endtrans %}" class="share-googleplus" rel="nofollow"><span></span></a>
  <a title="{% trans %}Share via e-mail{% endtrans %}" class="share-mail" rel="nofollow"><span></span></a>
  {% endspaceless %}
</div>
